version: "3.9"

services:
  reverse-proxy:
    image: traefik:v2.9
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:{{ WEBSITES_PORT | default('80') }}
      - --entrypoints.websecure.address=:{{ WEBSITES_SECURE_PORT | default('443') }}
    ports:
      - "{{ WEBSITES_PORT | default('80') }}:{{ WEBSITES_PORT | default('80') }}"
      - "{{ WEBSITES_SECURE_PORT | default('443') }}:{{ WEBSITES_SECURE_PORT | default('443') }}"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - default

  mysql:
    image: mysql:{{ MYSQL_VERSION | default('latest') }}
    container_name: {{ COMPOSE_PROJECT_NAME }}_mysql
    restart: always
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      MYSQL_DATABASE: {{ MYSQL_DATABASE | default('wordpress') }}
      MYSQL_USER: {{ DATABASE_USER }}
      MYSQL_PASSWORD: {{ DATABASE_PASSWORD }}
    volumes:
      - {{ DATABASE_VOLUME }}:/var/lib/mysql
    networks:
      - default

  wordpress:
    image: "wordpress:{{ WORDPRESS_VERSION | default('latest') }}"
    container_name: {{ COMPOSE_PROJECT_NAME }}_wordpress
    restart: always
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: {{ DATABASE_USER }}
      WORDPRESS_DB_PASSWORD: {{ DATABASE_PASSWORD }}
    labels:
      traefik.enable: "true"
      traefik.http.routers.{{ COMPOSE_PROJECT_NAME }}_wordpress.rule: "Host(`{{ WORDPRESS_URL | default(ansible_hostname) }}`)"
      traefik.http.routers.{{ COMPOSE_PROJECT_NAME }}_wordpress.entrypoints: "web"
    volumes:
      - {{ WORDPRESS_VOLUME }}:/var/www/html
    depends_on:
      - mysql
    networks:
      - default

  phpmyadmin:
    image: "phpmyadmin/phpmyadmin:{{ PHPMYADMIN_VERSION | default('latest') }}"
    container_name: {{ COMPOSE_PROJECT_NAME }}_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      # PMA_USER: {{ DATABASE_USER }}
      # PMA_PASSWORD: {{ DATABASE_PASSWORD }}
      PMA_ABSOLUTE_URI: "http://{{ PHPMYADMIN_URL }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.{{ COMPOSE_PROJECT_NAME }}_phpmyadmin.rule: "Host(`{{ PHPMYADMIN_URL | default(ansible_hostname) }}`)"
      traefik.http.routers.{{ COMPOSE_PROJECT_NAME }}_phpmyadmin.entrypoints: "web"
    depends_on:
      - mysql
    networks:
      - default

volumes:
  {{ DATABASE_VOLUME }}:
  {{ WORDPRESS_VOLUME }}:

networks:
  default:
    name: {{ NETWORK_NAME | default('wordpress') }}
